.title-container {
  width: 240px;
  height: 122px;
  position: relative;
  border: 10px solid #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}