.page-module___8aEwW__title-container{box-sizing:border-box;border:10px solid #fff;border-radius:8px;justify-content:center;align-items:center;width:240px;height:122px;display:flex;position:relative}
